<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>controller.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>controller.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AñadirBitacora</servlet-name>
        <servlet-class>controller.AñadirBitacora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarBitacora</servlet-name>
        <servlet-class>controller.EditarBitacora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarBitacora</servlet-name>
        <servlet-class>controller.EliminarBitacora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraBitacora</servlet-name>
        <servlet-class>controller.MuestraBitacora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraUsuario</servlet-name>
        <servlet-class>controller.RegistraUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfUsuario</servlet-name>
        <servlet-class>controller.InfUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>controller.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enlistar</servlet-name>
        <servlet-class>controller.Enlistar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descargar</servlet-name>
        <servlet-class>controller.Descargar</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraUsuario</servlet-name>
        <url-pattern>/RegistraUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfUsuario</servlet-name>
        <url-pattern>/InfUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AñadirBitacora</servlet-name>
        <url-pattern>/AñadirBitacora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarBitacora</servlet-name>
        <url-pattern>/EliminarBitacora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarBitacora</servlet-name>
        <url-pattern>/EditarBitacora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraBitacora</servlet-name>
        <url-pattern>/MuestraBitacora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enlistar</servlet-name>
        <url-pattern>/Enlistar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descargar</servlet-name>
        <url-pattern>/Descargar</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
